/* Solo si para páginas fullscreen sin barra de desplamiento */
html, body {
    height: 100%;
}

/* Definición de la fuente local */
@font-face {
    font-family: "roboto";
    src: url(../font/roboto.woff2);
}

/* Tamaño de la caja de borde a borde 
padding y borde no modifica el tamaño del elemento */
* {
    box-sizing: border-box;
}

/* Reglas comunes a todos los elementos en body 
margin:0 para quitar ese pequeño enmarcado blanco indeseable */
body {
    margin: 0;
    background-image: url(../img/trello-left.svg), url(../img/trello-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: 368px, 368px;
    background-position: left bottom, right bottom;
    background-color: #fafbfc;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.box-form {
    width: 400px;
    margin: 0 auto;
    padding: 32px 40px;
    background-color: #ffffff;
    color: #5e6c84;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* flex orientación row */
.row {
    display: flex;
}
/* flex orientación column */
.column {
    display: flex;
    flex-direction: column;
}

/* Alineación eje principal center */
.justify-content-center {
    justify-content: center;
}

/* Alineación eje principal space beetween 
si row = 1º y ultimo en izq y der resto reparten espacio
si column =  1º y ultimo en arriba y abajo resto reparten espacio */
.justify-content-between {
    justify-content: space-between;
}

/* Alineación eje principal end
si row = derecha
si column = abajo */
.justify-content-end {
    justify-content: end;
}

/* Alineación eje secundario center 
si row = centrado verticalmente
si column = centrado horizontalmente */
.align-items-center {
    align-items: center;
}

.col-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-110 {
    height: 110%;
}

/* Flotación */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* limpiar flotación */
.cb {
    clear: both;
}

/* Position */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* Alineación del Texto centro */
.text-center {
    text-align: center;
}

/* Alineación del Texto derecha */
.text-end {
    text-align: end;
}

/* Fondo y texto negro y blanco */
.bg-dark {
    background-color: black;
}

.text-dark {
    color: black;
}

.bg-light {
    background-color: white;
}

.text-light {
    color: white;
}

/* Reglas comunes botones */
.btn {
    border: solid 1px #c1c7d0;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 auto;
    width: 286.67px;
    height: 36px;
    padding: 5px;
}

/* Reglas específicas botón azul */
.btn-blue {
    background-color: #2a67dc;
    color: #f3fbff;
}
/* Reglas específicas botón azul */
.btn-white {
    background-color: #ffffff;
    color: #1b2c48;
}

.text-small{
    font-size: 12px;
}
.margin-bottom{
    margin-bottom: 8px;
}
.point{
    margin: 0 8px;
}
ul{
    display: flex;
    margin-top: 15px;
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.text-black{
    color: #172b4d;
    font-size: 16px;
}
button img{
    margin-right: 10px;
}
a{
    text-decoration: none;
}

